@import '../../styles/basic/_html-elements.scss';

#paymentdata {
    font-family: "Gantari", Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;    
}

#paymentdata .fieldrow {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
    flex: 1 100%;
}

#paymentdata label {
    width: 100%;
    font-size: 0.938rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

#paymentdata input {
    box-sizing: border-box;
    border: 0.125rem solid #BFBFBF;
    border-radius: 0;
    padding: 0.375rem 1rem;
    max-height: 2.5rem;
    padding-left: 1rem;
    width: 100%;
    min-height: 2.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
}

#paymentdata input:focus-visible {
    position: relative;
    z-index: 10;
    outline: 0.125rem solid #E836E1;
    outline-offset: 0.125rem;
    box-shadow: 0 0 0 0.125rem #FFFFFF;
}

#paymentdata input.error {
    border-color: #9C0826;
}

#paymentdata #row-expiry,
#paymentdata #row-cvc {
    flex: 1 25%;
    max-width: 25%;
}

#paymentdata #row-expiry {
    flex-flow: row wrap;
}

#paymentdata #row-expiry #expiryMonth {
    flex: 1 40%;
    max-width: 4.063rem;
    padding: 0.125rem 1rem;
}

#paymentdata #row-expiry #expiryYear {
    flex: 1 60%;
    max-width: 5rem;
}

#paymentdata #row-cvc #cvc {
    flex: 40%;
    max-width: 4.063rem;
}

@media only screen and (max-width: 768px) {
    #paymentdata #row-expiry,
    #paymentdata #row-cvc {
        flex: 1 45%;
        max-width: 45%;
    }
}

@media only screen and (max-width: 347px) {
    #paymentdata .fieldrow {
        flex: 1 1 100% !important;
        max-width: 100% !important;
    }
}
