@import '../../styles/basic/_html-elements.scss';

#paymentdata {
    font-family: "Gantari", Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    
}

#paymentdata .fieldrow {
    display: flex;
    flex-flow: column;
    margin-bottom: 
}

#paymentdata label {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}

#paymentdata input {
    box-sizing: border-box;
    border: 0.125rem solid #BFBFBF;
    border-radius: 0;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 1rem;
    width: 100%;
    min-height: 2.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
}

#paymentdata input.error {
    border-color: #9C0826;
}

#paymentdata input:focus-visible {
    position: relative;
    z-index: 10;
    outline: 0.125rem solid #E836E1;
    outline-offset: 0.125rem;
    box-shadow: 0 0 0 0.125rem #FFFFFF;
}
